@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600;800&family=Rajdhani:wght@300;400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
}
body{
    font-family: 'Rajdhani', sans-serif;
    background-color: var(--primary-color);
}

main{
    background-color: aliceblue;
}